.parrafos {
    text-align: center;
    background-color: #bcaaa4;
    color: #ffffff;
    padding: 0.2cm;
}

.titulos {
    text-align: center;
    background-color: #a1887f;
    color: #ffffff;
    padding: 0.2cm;
}

.imagenes {
    height: 8cm;
    width: 5.20cm;
}

.separador {
    text-align: center;
}

.contenedor {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.menu {
    height: 3cm;
    width: 3cm;
    margin: 1cm;
}

.columna {
    flex: 1 1 calc(33.33% - 20px);
    text-align: center;
    background-color: #bcaaa4;
    color: #ffffff;
    
}

.contenedor2 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px; 
    padding: 0.2cm;
  }

.nombres {
    color: #a1887f;
}

.gifs {
    height: 5cm;
    width: 5cm;
}