.menu {
    height: 3cm;
    width: 3cm;
    margin: 1cm;
}

.contenedor {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.separador {
    text-align: center;
}

.parrafos {
    text-align: center;
    background-color: #ef9a9a;
    color: #ffffff;
    padding: 0.2cm;
}

.titulos {
    text-align: center;
    background-color: #e57373;
    color: #ffffff;
    padding: 0.2cm;
}