.menu {
    height: 3cm;
    width: 3cm;
    margin: 1cm;
}

.contenedor {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.separador {
    text-align: center;
}

.parrafos {
    text-align: center;
    background-color: #9fa8da;
    color: #ffffff;
    padding: 0.2cm;
}

.titulos {
    text-align: center;
    background-color: #7986cb;
    color: #ffffff;
    padding: 0.2cm;
}

.columna {
    flex: 1 1 calc(50% - 20px);
    text-align: center;
    background-color: #9fa8da;
    color: #ffffff;
}

.contenedor2 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px; 
    padding: 0.2cm;
}

.curriculum {
    width: calc(50%);
}

.imagenes {
    height: 5cm;
    width: 5cm;
    margin: 0.5cm;
}

.logo {
    height: 0.5cm;
    width: 0.5cm;
    margin-left: 0.3cm;
    margin-right: 0.3cm;
}
