.separador {
    text-align: center;
}

.contenedor {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.menu {
    height: 3cm;
    width: 3cm;
    margin: 1cm;
}

.parrafos {
    text-align: center;
    background-color: #f48fb1;
    color: #ffffff;
    padding: 0.2cm;
}

.titulos {
    text-align: center;
    background-color: #f06292;
    color: #ffffff;
    padding: 0.2cm;
}

.licencia {
    text-align: center;
    background-color: #ec407a;
    color: #ffffff;
}