.parrafos {
    text-align: center;
    background-color: #b39ddb;
    color: #ffffff;
}

.titulos {
    text-align: center;
    background-color: #7e57c2;
    color: #ffffff;
}

.imagenes {
    height: 5cm;
    width: 5cm;
}

.menu {
    height: 3cm;
    width: 3cm;
    margin: 1cm;
}

.contenedor {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.separador {
    text-align: center;
}