.parrafos {
    text-align: center;
    background-color: #b2ebf2;
    color: #000000;
    padding: 0.2cm;
}

.titulos {
    text-align: center;
    background-color: #80deea;
    color: #000000;
    padding: 0.2cm;
}

.formulario {
    text-align: center;
    margin: 1cm;
}

.imagenes1 {
    height: 1cm;
    width: 2cm;

}

.imagenes2 {
    height: 1cm;
    width: 2cm;
    transform: rotate(180deg);
}

.banner {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.separador {
    text-align: center;
}

.contenedor {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.menu {
    height: 3cm;
    width: 3cm;
    margin: 1cm;
}

.licencia {
    text-align: center;
    background-color: #4dd0e1;
    color: #ffffff;
}